proyectoFrontend_V3/Connected Services/ServicioUsuarios/WS_Users.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegistrarPublico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:UserPublic" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserPublic">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NombreUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarPublicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarPublicoResult" type="tns:Resp_Simple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Resp_Simple">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoError" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IniciarSesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciarSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IniciarSesionResult" type="tns:Resp_Login" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Resp_Login">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoError" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Usuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Rol" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Rol" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Estado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarAdminResult" type="tns:Resp_Simple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerUsuariosResult" type="tns:Resp_Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Resp_Users">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoError" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuarios" type="tns:ArrayOfUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:element name="EditarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditarUsuarioResult" type="tns:Resp_Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Usuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarUsuarioResult" type="tns:Resp_Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReactivarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Usuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReactivarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReactivarUsuarioResult" type="tns:Resp_Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoria" type="tns:Categoria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Categoria">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Categoria" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreCategoria" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CrearCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearCategoriaResult" type="tns:Resp_Simple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCategoriaPorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCategoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCategoriaPorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCategoriaPorIDResult" type="tns:Resp_Categoria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Resp_Categoria">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoError" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categorias" type="tns:ArrayOfCategoria" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCategoria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Categoria" nillable="true" type="tns:Categoria" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoria" type="tns:Categoria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarCategoriaResult" type="tns:Resp_Simple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCategorias">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCategoriasResult" type="tns:Resp_Categoria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCategoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarCategoriaResult" type="tns:Resp_Simple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearAutor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autor" type="tns:Autor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Autor">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Autor" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreAutor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoAutor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nacionalidad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaDefuncion" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="CrearAutorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearAutorResult" type="tns:Resp_Simple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerAutores">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerAutoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerAutoresResult" type="tns:Resp_Autor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Resp_Autor">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoError" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Autores" type="tns:ArrayOfAutor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAutor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Autor" nillable="true" type="tns:Autor" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizarAutor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autor" type="tns:Autor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarAutorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarAutorResult" type="tns:Resp_Simple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerAutorPorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAutor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerAutorPorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerAutorPorIDResult" type="tns:Resp_Autor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarAutor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAutor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarAutorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarAutorResult" type="tns:Resp_Simple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarDocumentos">
        <s:complexType />
      </s:element>
      <s:element name="ListarDocumentosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarDocumentosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idDocumento" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDocumentoResult" type="tns:Documento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Documento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Documento" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Foto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Autor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Categoria" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreCategoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RutaFisica" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaPublicacion" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_UsuarioSubida" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUsuario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaSubida" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="CrearDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doc" type="tns:Documento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearDocumentoResult" type="tns:Documento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doc" type="tns:Documento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarDocumentoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idDocumento" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarDocumentoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarDocumentosPorCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCategoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarDocumentosPorCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarDocumentosPorCategoriaResult" type="tns:ArrayOfDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Documento" nillable="true" type="tns:Documento" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarDocumentosPorAutor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAutor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarDocumentosPorAutorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarDocumentosPorAutorResult" type="tns:ArrayOfDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarPublicoSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarPublico" />
  </wsdl:message>
  <wsdl:message name="RegistrarPublicoSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarPublicoResponse" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionSoapIn">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionSoapOut">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarAdminSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarAdmin" />
  </wsdl:message>
  <wsdl:message name="RegistrarAdminSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarios" />
  </wsdl:message>
  <wsdl:message name="ObtenerUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="EditarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:EditarUsuario" />
  </wsdl:message>
  <wsdl:message name="EditarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:EditarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ReactivarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ReactivarUsuario" />
  </wsdl:message>
  <wsdl:message name="ReactivarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ReactivarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CrearCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:CrearCategoria" />
  </wsdl:message>
  <wsdl:message name="CrearCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:CrearCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCategoriaPorIDSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCategoriaPorID" />
  </wsdl:message>
  <wsdl:message name="ObtenerCategoriaPorIDSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCategoriaPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarCategoria" />
  </wsdl:message>
  <wsdl:message name="ActualizarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCategorias" />
  </wsdl:message>
  <wsdl:message name="ObtenerCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarCategoria" />
  </wsdl:message>
  <wsdl:message name="EliminarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="CrearAutorSoapIn">
    <wsdl:part name="parameters" element="tns:CrearAutor" />
  </wsdl:message>
  <wsdl:message name="CrearAutorSoapOut">
    <wsdl:part name="parameters" element="tns:CrearAutorResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerAutoresSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerAutores" />
  </wsdl:message>
  <wsdl:message name="ObtenerAutoresSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerAutoresResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarAutorSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarAutor" />
  </wsdl:message>
  <wsdl:message name="ActualizarAutorSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarAutorResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerAutorPorIDSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerAutorPorID" />
  </wsdl:message>
  <wsdl:message name="ObtenerAutorPorIDSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerAutorPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarAutorSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarAutor" />
  </wsdl:message>
  <wsdl:message name="EliminarAutorSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarAutorResponse" />
  </wsdl:message>
  <wsdl:message name="ListarDocumentosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarDocumentos" />
  </wsdl:message>
  <wsdl:message name="ListarDocumentosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarDocumentosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDocumento" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="CrearDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:CrearDocumento" />
  </wsdl:message>
  <wsdl:message name="CrearDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:CrearDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarDocumento" />
  </wsdl:message>
  <wsdl:message name="ActualizarDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarDocumento" />
  </wsdl:message>
  <wsdl:message name="EliminarDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="ListarDocumentosPorCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:ListarDocumentosPorCategoria" />
  </wsdl:message>
  <wsdl:message name="ListarDocumentosPorCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:ListarDocumentosPorCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarDocumentosPorAutorSoapIn">
    <wsdl:part name="parameters" element="tns:ListarDocumentosPorAutor" />
  </wsdl:message>
  <wsdl:message name="ListarDocumentosPorAutorSoapOut">
    <wsdl:part name="parameters" element="tns:ListarDocumentosPorAutorResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_UsersSoap">
    <wsdl:operation name="RegistrarPublico">
      <wsdl:input message="tns:RegistrarPublicoSoapIn" />
      <wsdl:output message="tns:RegistrarPublicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <wsdl:input message="tns:IniciarSesionSoapIn" />
      <wsdl:output message="tns:IniciarSesionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarAdmin">
      <wsdl:input message="tns:RegistrarAdminSoapIn" />
      <wsdl:output message="tns:RegistrarAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <wsdl:input message="tns:ObtenerUsuariosSoapIn" />
      <wsdl:output message="tns:ObtenerUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <wsdl:input message="tns:EditarUsuarioSoapIn" />
      <wsdl:output message="tns:EditarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input message="tns:EliminarUsuarioSoapIn" />
      <wsdl:output message="tns:EliminarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReactivarUsuario">
      <wsdl:input message="tns:ReactivarUsuarioSoapIn" />
      <wsdl:output message="tns:ReactivarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearCategoria">
      <wsdl:input message="tns:CrearCategoriaSoapIn" />
      <wsdl:output message="tns:CrearCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategoriaPorID">
      <wsdl:input message="tns:ObtenerCategoriaPorIDSoapIn" />
      <wsdl:output message="tns:ObtenerCategoriaPorIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCategoria">
      <wsdl:input message="tns:ActualizarCategoriaSoapIn" />
      <wsdl:output message="tns:ActualizarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategorias">
      <wsdl:input message="tns:ObtenerCategoriasSoapIn" />
      <wsdl:output message="tns:ObtenerCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCategoria">
      <wsdl:input message="tns:EliminarCategoriaSoapIn" />
      <wsdl:output message="tns:EliminarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearAutor">
      <wsdl:input message="tns:CrearAutorSoapIn" />
      <wsdl:output message="tns:CrearAutorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAutores">
      <wsdl:input message="tns:ObtenerAutoresSoapIn" />
      <wsdl:output message="tns:ObtenerAutoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarAutor">
      <wsdl:input message="tns:ActualizarAutorSoapIn" />
      <wsdl:output message="tns:ActualizarAutorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAutorPorID">
      <wsdl:input message="tns:ObtenerAutorPorIDSoapIn" />
      <wsdl:output message="tns:ObtenerAutorPorIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAutor">
      <wsdl:input message="tns:EliminarAutorSoapIn" />
      <wsdl:output message="tns:EliminarAutorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarDocumentos">
      <wsdl:input message="tns:ListarDocumentosSoapIn" />
      <wsdl:output message="tns:ListarDocumentosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumento">
      <wsdl:input message="tns:ObtenerDocumentoSoapIn" />
      <wsdl:output message="tns:ObtenerDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearDocumento">
      <wsdl:input message="tns:CrearDocumentoSoapIn" />
      <wsdl:output message="tns:CrearDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDocumento">
      <wsdl:input message="tns:ActualizarDocumentoSoapIn" />
      <wsdl:output message="tns:ActualizarDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDocumento">
      <wsdl:input message="tns:EliminarDocumentoSoapIn" />
      <wsdl:output message="tns:EliminarDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarDocumentosPorCategoria">
      <wsdl:input message="tns:ListarDocumentosPorCategoriaSoapIn" />
      <wsdl:output message="tns:ListarDocumentosPorCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarDocumentosPorAutor">
      <wsdl:input message="tns:ListarDocumentosPorAutorSoapIn" />
      <wsdl:output message="tns:ListarDocumentosPorAutorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_UsersSoap" type="tns:WS_UsersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarPublico">
      <soap:operation soapAction="http://tempuri.org/RegistrarPublico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <soap:operation soapAction="http://tempuri.org/IniciarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarAdmin">
      <soap:operation soapAction="http://tempuri.org/RegistrarAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <soap:operation soapAction="http://tempuri.org/ObtenerUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <soap:operation soapAction="http://tempuri.org/EditarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReactivarUsuario">
      <soap:operation soapAction="http://tempuri.org/ReactivarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearCategoria">
      <soap:operation soapAction="http://tempuri.org/CrearCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategoriaPorID">
      <soap:operation soapAction="http://tempuri.org/ObtenerCategoriaPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCategoria">
      <soap:operation soapAction="http://tempuri.org/ActualizarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategorias">
      <soap:operation soapAction="http://tempuri.org/ObtenerCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCategoria">
      <soap:operation soapAction="http://tempuri.org/EliminarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearAutor">
      <soap:operation soapAction="http://tempuri.org/CrearAutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAutores">
      <soap:operation soapAction="http://tempuri.org/ObtenerAutores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAutor">
      <soap:operation soapAction="http://tempuri.org/ActualizarAutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAutorPorID">
      <soap:operation soapAction="http://tempuri.org/ObtenerAutorPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAutor">
      <soap:operation soapAction="http://tempuri.org/EliminarAutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDocumentos">
      <soap:operation soapAction="http://tempuri.org/ListarDocumentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumento">
      <soap:operation soapAction="http://tempuri.org/ObtenerDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearDocumento">
      <soap:operation soapAction="http://tempuri.org/CrearDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDocumento">
      <soap:operation soapAction="http://tempuri.org/ActualizarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDocumento">
      <soap:operation soapAction="http://tempuri.org/EliminarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDocumentosPorCategoria">
      <soap:operation soapAction="http://tempuri.org/ListarDocumentosPorCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDocumentosPorAutor">
      <soap:operation soapAction="http://tempuri.org/ListarDocumentosPorAutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_UsersSoap12" type="tns:WS_UsersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarPublico">
      <soap12:operation soapAction="http://tempuri.org/RegistrarPublico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarAdmin">
      <soap12:operation soapAction="http://tempuri.org/RegistrarAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <soap12:operation soapAction="http://tempuri.org/ObtenerUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <soap12:operation soapAction="http://tempuri.org/EditarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap12:operation soapAction="http://tempuri.org/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReactivarUsuario">
      <soap12:operation soapAction="http://tempuri.org/ReactivarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearCategoria">
      <soap12:operation soapAction="http://tempuri.org/CrearCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategoriaPorID">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCategoriaPorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCategoria">
      <soap12:operation soapAction="http://tempuri.org/ActualizarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategorias">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCategoria">
      <soap12:operation soapAction="http://tempuri.org/EliminarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearAutor">
      <soap12:operation soapAction="http://tempuri.org/CrearAutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAutores">
      <soap12:operation soapAction="http://tempuri.org/ObtenerAutores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAutor">
      <soap12:operation soapAction="http://tempuri.org/ActualizarAutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAutorPorID">
      <soap12:operation soapAction="http://tempuri.org/ObtenerAutorPorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAutor">
      <soap12:operation soapAction="http://tempuri.org/EliminarAutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDocumentos">
      <soap12:operation soapAction="http://tempuri.org/ListarDocumentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumento">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearDocumento">
      <soap12:operation soapAction="http://tempuri.org/CrearDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDocumento">
      <soap12:operation soapAction="http://tempuri.org/ActualizarDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDocumento">
      <soap12:operation soapAction="http://tempuri.org/EliminarDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDocumentosPorCategoria">
      <soap12:operation soapAction="http://tempuri.org/ListarDocumentosPorCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDocumentosPorAutor">
      <soap12:operation soapAction="http://tempuri.org/ListarDocumentosPorAutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Users">
    <wsdl:port name="WS_UsersSoap" binding="tns:WS_UsersSoap">
      <soap:address location="https://localhost:44360/WS_Users.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_UsersSoap12" binding="tns:WS_UsersSoap12">
      <soap12:address location="https://localhost:44360/WS_Users.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>